<form [formGroup]="form" (ngSubmit)="submit()" fxLayout="row wrap" class="filter-form" autocomplete="off">

    <div fxFlex="100" fxFlex.gt-sm="20" class="px-2" ngClass.sm="mt-1" ngClass.xs="mt-1">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Date</mat-label>
            <input matInput placeholder="Pick a date" formControlName="date" [matDatepicker]="datePicker"  appMaskDate>
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>  
        </mat-form-field> 
    </div>
    <div fxFlex="100" fxFlex.gt-sm="20" class="px-2" ngClass.sm="mt-1" ngClass.xs="mt-1"> 
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Coomunity</mat-label>
            <mat-select formControlName="community" (selectionChange)="onCommunitySelectionChange($event.value)"> 
                <mat-option *ngFor="let sat of communities" [value]="sat.id">{{sat.name}}</mat-option>
            </mat-select>
        </mat-form-field> 
    </div>
    <div fxFlex="100" fxFlex.gt-sm="20" class="px-2" ngClass.sm="mt-1" ngClass.xs="mt-1"> 
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cook</mat-label>
            <mat-select formControlName="chef" multiple> 
                <mat-option *ngFor="let sat of communityChefs" [value]="sat.id">{{sat.name}}</mat-option>
            </mat-select>
        </mat-form-field> 
    </div>
    <div fxFlex="100" fxFlex.gt-sm="20" class="px-2" ngClass.sm="mt-1" ngClass.xs="mt-1">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Status</mat-label> 
            <mat-select formControlName="status" multiple> 
                <mat-option *ngFor="let sat of statuses" [value]="sat.id">{{sat.name}}</mat-option>
            </mat-select>
        </mat-form-field>  
    </div> 
    <div fxFlex="100" fxFlex.gt-sm="20" class="p-2" ngClass.sm="mt-1" ngClass.xs="mt-1" style="text-align: right;">
        <button mat-raised-button color="primary" type="submit" class="uppercase pd-5">Filter</button>
        <button mat-raised-button color="primary" (click)="resetFilter()" type="reset" class="uppercase pd-5 mx-2">Reset</button>
    </div> 
    <div fxFlex="100" fxFlex.gt-sm="100" fxLayoutAlign="end end" class="px-2 pd-5" ngClass.sm="mt-1" ngClass.xs="mt-1">
        <button mat-raised-button color="primary" type="button" (click)="updateWithdrawls()" class="uppercase pd-5">Update Withdrawls</button>
    </div>  
</form>
<mat-card class="m-2 p-0">
    <div class="table-wrapper"> 
        <table mat-table [dataSource]="dataSource" matSort class="w-100">
        
            <!-- InvoiceId Column -->
            <ng-container matColumnDef="invoiceId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Id </th>
                <td mat-cell *matCellDef="let withdrawal">#{{withdrawal.withdrawl_id}} </td>
            </ng-container>  

            <!-- Order IDs Column -->
            <ng-container matColumnDef="orderIds">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order IDs </th>
                <td mat-cell *matCellDef="let withdrawal"> 
                    <span class="primary-color pointer" *ngFor="let order of withdrawal.orders; let last=last" (click)="viewOrder(order.order)">
                        #{{order.order.order_id}}<span *ngIf="!last">, </span>
                    </span>
                </td>
            </ng-container> 
    
            <!-- Store Column -->
            <ng-container matColumnDef="chef">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Chef </th>
                <td mat-cell *matCellDef="let withdrawal">{{withdrawal.chef?.name}}</td>
            </ng-container>  
            
            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                <td mat-cell *matCellDef="let withdrawal">{{withdrawal.orders_total | currency : 'INR' : 'symbol' : '1.2-2'}}</td>
            </ng-container>   

            <!-- Charges Column -->
            <ng-container matColumnDef="charges">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Charges </th>
                <td mat-cell *matCellDef="let withdrawal">{{0 | currency : 'INR' : 'symbol' : '1.2-2'}}</td>
            </ng-container> 

            <!-- Payment -->
            <ng-container matColumnDef="payment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment </th>
                <td mat-cell *matCellDef="let withdrawal">{{withdrawal.orders_total | currency : 'INR' : 'symbol' : '1.2-2'}}</td>
            </ng-container> 
            
            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let coupon">{{coupon.orders_date | date:"dd MMMM, yyyy" }}</td>
            </ng-container> 
    
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let withdrawal">  
                    <button mat-icon-button  color="primary" (click)="approve(withdrawal)" matTooltip="Approve">
                        <mat-icon>check</mat-icon>
                    </button>
                    <button mat-icon-button  color="warn" (click)="reject(withdrawal)" matTooltip="Reject">
                        <mat-icon>clear</mat-icon>
                    </button>
                </td>
            </ng-container> 
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let withdrawal; columns: displayedColumns;"></tr>
        </table> 
        <p *ngIf="dataSource && dataSource.data.length === 0" class="py-5 mb-0 text-center">No data available</p> 
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</mat-card>