<div class="m-2 p-0">
    <!-- <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
        <div></div>
        <a mat-raised-button color="primary" routerLink="/admin/menu-items/add">
            <mat-icon>add</mat-icon>
            Add New Menu Item
        </a>
    </div> -->
    <mat-card class="mbb-5">  
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" fxLayout="row wrap">
                <div fxFlex="100" class="px-2" >
                    <div fxLayout="row wrap">  
                        <div fxFlex="100" fxFlex.gt-sm="50" class="prl-5">
                            <fieldset>
                                <legend>Filter</legend>
                                <div fxLayout="row wrap">  
                                    <div fxFlex="100" fxFlex.gt-sm="50" class="prl-5 mbb-5">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Business Type</mat-label>
                                            <mat-select formControlName="from_business_type" required (ngModelChange)="fromBusinessChanged($event)">
                                                <mat-option  value=''><span>Select Business</span></mat-option>
                                                <mat-option  value='b2b'><span>B2B</span></mat-option>
                                                <mat-option  value='b2c'><span>B2C</span></mat-option>
                                                <mat-option  value='qmart'><span>Qmart</span></mat-option>
                                                <mat-option  value='platforms'><span>Platform</span></mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="100" fxFlex.gt-sm="50" class="prl-5 mbb-5" *ngIf="isFromStore">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Store</mat-label>
                                            <mat-select formControlName="from_store_id" required (ngModelChange)="fromStoreChanged($event)">
                                                <mat-option *ngFor="let cat of appService.Data.stores" [value]="cat.id">
                                                    <span>{{cat.name}}</span>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </fieldset> 
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="50" class="prl-5">
                            <fieldset>
                                <legend>Upload Data</legend>
                                <div fxLayout="row wrap">  
                                    <div fxFlex="100" fxFlex.gt-sm="80" class="prl-5">
                                        <div class="file-upload mb-2">  
                                            <input *ngIf="!files.length" id="singleFileUploader" type="file" [accept]="'xlsx/*'" (change)="onFileSelect($event)" #UploadFileInput/> 
                                            <span >
                                                <mat-form-field appearance="outline" class="w-100"  *ngIf="!files.length">
                                                    <input matInput  (click)="fileUploadClick()" placeholder="Choose Excel file" >
                                                </mat-form-field>
                                                <mat-form-field appearance="outline" class="w-100 dddd"  *ngIf="files.length">
                                                    <span class="ww" style="display: flex;">
                                                        <input matInput [placeholder]="files[0].name" readonly>
                                                        <button mat-icon-button color="warn" (click)="deleteFile()" matTooltip="Remove">
                                                            <mat-icon>delete</mat-icon>
                                                        </button>
                                                    </span>
                                                </mat-form-field>
                                            </span>
                                        </div> 
                                    </div> 
                                    <div fxFlex="100" fxFlex.gt-sm="20" class="mbb-5 text-right w-100">
                                        <button mat-raised-button color="primary" type="submit" class="uppercase">Submit</button>
                                    </div>
                                </div>
                            </fieldset> 
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content> 
    </mat-card>
    <mat-divider></mat-divider>

    <div class="table-wrapper"> 
        <table mat-table [dataSource]="dataSource" matSort class="w-100">
        
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Id </th>
                <td mat-cell *matCellDef="let menuItem;let i = index;"> {{menuItem.product_id}} </td>
            </ng-container> 
            
            <!-- Image Column -->
            <!-- <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Business Type </th>
                <td mat-cell *matCellDef="let menuItem"> {{menuItem.business_type}} </td>
            </ng-container>  -->

            <!-- Category Column -->
            <!-- <ng-container matColumnDef="categoryId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Store </th>
                <td mat-cell *matCellDef="let menuItem"> {{ menuItem.sname}}  </td>
            </ng-container>  -->

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
                <td mat-cell *matCellDef="let menuItem"> {{menuItem.pname}} </td>
            </ng-container> 
 

            <!-- Availibility Count Column -->
            <ng-container matColumnDef="availibilityCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Physical Stock</th>
                <td mat-cell *matCellDef="let menuItem"> {{menuItem.ps}} Kg</td>
            </ng-container> 

            <!-- Is Vegetarian Column -->
            <ng-container matColumnDef="isVegetarian">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sale Stock</th>
                <td mat-cell *matCellDef="let menuItem"> {{menuItem.ss}} Kg</td>
            </ng-container> 

            <!-- Actions Column -->
            <!-- <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let menuItem"> 
                    <button mat-raised-button color="primary" (click)="openStoreDialog(menuItem.product_id)" matTooltip="View Store Level">
                        <mat-icon>store</mat-icon>
                    </button>
                    <button mat-raised-button color="primary" (click)="openBusinessDialog(menuItem.product_id)" matTooltip="View Business Level">
                        <mat-icon>business</mat-icon>
                    </button>    
                </td>
            </ng-container>   -->
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let menuItem; columns: displayedColumns;"></tr>
        </table> 
        <p *ngIf="dataSource && dataSource.data.length === 0" class="py-5 mb-0 text-center">No data available</p> 
    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
</div>